/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;/*Was acting goofy, so made the td separate*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;/*Part of original reset code*/
	background: #efede4;
	font-family: "Palatino", Arial, Sans-Serif;
	font-weight: bold;
	color: #222;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*form code*/
.checkSpace
{
	border: 1px dotted #d8dfb9;
}
.column1
{
	width: 25%;
	float: left;
}
.column2
{
	width: 75%;
	float: left;
}
.checkHeader
{
	float: left;
	width: 50px;
	text-align: center;
}
.formElement
{
	width: <?php echo($pageWidth)?>px;
	padding: 5px;
}
.check
{
	width: 44px;
	height: 44px;
}
.checkArea
{
	/*background: white;*/
}
.maxmin
{
	text-align: center;
}
.time
{
	width: 125px;
	font-size: 20px;
}
input[type=text]
{
	border: 2px solid #d8dfb9;
	width: 100%;
}
input[type=checkbox]
{
	background:  #222;
}
input[type=submit]
{
	height: 75px;
	width: 150px;
}
input[type=reset]
{
	height: 75px;
	width: 75px;
}