/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
td
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;/*Was acting goofy, so made the td separate*/
}
table
{

border-spacing: 0px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;/*Part of original reset code*/
	background: #efede4;
	/*font-family: "Palatino", Arial, Sans-Serif;*/
	font-family: 'Sorts Mill Goudy', serif;

	font-weight: bold;
	color: #222;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*form code*/
#title
{
	font-size: 50px;
	text-align: center;
}
.checkSpace
{
	border: 1px dotted #a4b193;
}
.column1
{
	width: 20%;
	float: left;
	font-size: 18px;
}
.column2
{
	width: 75%;
	float: left;
}
.checkHeader
{
	float: left;
	width: 62px;
	text-align: center;
	font-size: 13px;
	margin-top: 30px;
}
.day
{
	font-size: 32px;
}
.check
{
	width: 48px;
	height: 48px;
}
.checkArea
{
	/*background: white;*/
}
.maxmin
{
	text-align: center;
	font-size: 18px;
}
.time
{
	width: 80px;
	font-size: 25px;
}
input[type=text]
{
	border: 2px solid #a4b193;
	width: 100%;
}
input[type=checkbox]
{
	background:  #222;
}
input[type=submit]
{
	margin-top: 10px;
	height: 75px;
	width: 150px;
}
input[type=reset]
{
	margin-top: 10px;
	height: 75px;
	width: 75px;
}

#header
{
	background-image:url(http://www.lawleririshfest.com/wp-content/uploads/2014/03/lawleririshnav2.png);
	background-color:#a4b193;
	background-repeat:repeat-x;
	height: 171px;
}

#header-content
{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

#main-content
{
	width: 760px;
	margin-left: auto;
	margin-right: auto;
}

.darkRow td {
    padding: 4px;
	font-size: 16px;
	background-color: #a4b193;
}

.lightRow td {
    padding: 4px;
	font-size: 16px;
}
.darkColumn {
	background-color: #a4b193;
	height:76px; 
}

.lightColumn {
	height:76px;
}